/* Main Part */
body {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f6eee9;
}

h1 {
    color: #491c00;
    font-size: xxx-large;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings {
    display: flex;
    justify-content: center;
}

#grid {
    margin: 5%;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eadbdd;
    height: 50px;
    flex-shrink: 0;
}

/* Button design */

.style {
    appearance: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease-in-out;
}


button {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: #491c00;
    background-color: white;
    border: 2opx 20px;
    border-color: #491c00;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.style:hover, button:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* Inside grid */
.row {
    display: flex;
}

.column {
    border: none;
    background-color: white;
    cursor: pointer;
}

