/* Main Part */
body {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f6eee9;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settings {
    display: flex;
    justify-content: center;
}

#grid {
    margin: 5%;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eadbdd;
    height: 50px;
    flex-shrink: 0;
}

/* Inside grid */
.row {
    display: flex;
}

.column {
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
}

/* Color Change */
.column:hover {
    background-color: black;
}

.darkened {
    opacity: 0.5;
}
